@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
body {
  margin: 0;
  padding: 0;
}
body .spoqa_han_sans, body #main_footer .contact_item *, body #main_footer header h1, body main article *, body main #category_section ul li, body main section header h1, body main #profile .hashtag *, body main #profile .description {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
body .container {
  margin: 0 auto;
  width: 1084px;
}
body h1, body h2, body h3, body h4, body h5, body h6, body ul, body li, body ol {
  margin: 0;
  padding: 0;
}
body #main_header {
  height: 72px;
  padding: 60px 0;
}
body #main_header .container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
body #main_header #logo img {
  height: 72px;
}
body #main_header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
body #main_header nav ul li {
  font-size: 40px;
  margin-left: 14px;
}
body #main_header nav ul li a {
  color: black;
}
body main #profile .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body main #profile img {
  border-radius: 180px;
  width: 349px;
  height: 349px;
}
body main #profile .description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
body main #profile .description * {
  font-size: 28px;
}
body main #profile .description *:nth-child(1), body main #profile .description *:nth-child(2) {
  font-size: 46px;
  font-weight: bold;
}
body main #profile .description *:nth-child(odd) {
  text-align: right;
}
body main #profile .hashtag {
  display: block;
  text-align: center;
  margin-top: 70px;
  line-height: 120px;
}
body main #profile .hashtag * {
  margin-right: 44px;
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
}
body main #profile .hashtag *:before {
  content: "#";
}
body main section {
  margin-top: 120px;
}
body main section header h1 {
  font-size: 46px;
}
body main section .section_content {
  margin-left: 92px;
}
body main section .section_content .img_grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
body main section .section_content .img_grid img {
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
body main section .section_content .img_grid img:hover {
  position: relative;
  top: -5%;
  left: -5%;
  width: 110%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
body main #category_section ul {
  list-style: none;
  padding: 0 30px;
}
body main #category_section ul li {
  font-size: 20px;
  margin-top: 40px;
}
body main #category_section ul li a {
  color: black;
  text-decoration: none;
}
body main #category_section ul li a:before {
  content: "“";
  font-size: 40px;
  position: relative;
  left: -15px;
}
body main #category_section ul li a:after {
  content: "”";
  font-size: 40px;
  position: absolute;
}
body main article {
  margin-top: 70px;
}
body main article h1 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}
body main article h2 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
body main article small {
  font-size: 20px;
  color: #333;
}
body main article.thumbnail_section {
  display: flex;
  flex-direction: row;
}
body main article.thumbnail_section h1 {
  margin-bottom: 14px;
}
body main article.thumbnail_section h2 {
  margin-bottom: 10px;
}
body main article.thumbnail_section .img, body main article.thumbnail_section img {
  height: 164px;
  width: 164px;
  margin-right: 20px;
}
body main article.thumbnail_section .img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
body main article.thumbnail_section .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #sub_content {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}
body #sub_content aside {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #eee;
  border-radius: 4px;
}
body #sub_content aside h1 {
  padding: 30px 0;
  font-size: 24px;
}
body #sub_content aside ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
body #sub_content aside ul li {
  padding: 15px;
  transition: background-color 0.3s;
}
body #sub_content aside ul li:hover {
  background-color: #eee;
}
body #sub_content aside ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-weight: bold;
}
body #sub_content aside ul li ul li a {
  font-weight: normal;
}
body #sub_content main {
  flex: 1;
}
body #sub_content main section {
  margin-top: 0;
}
body #sub_content main section header {
  border-bottom: 1px solid #eee;
  padding-bottom: 70px;
}
body #sub_content main section header h1 {
  text-align: center;
}
body #sub_content main section header h1:before {
  content: "“";
  font-size: 100px;
  position: relative;
  top: 30px;
  left: -15px;
}
body #sub_content main section header h1:after {
  content: "”";
  font-size: 100px;
  position: absolute;
}
body #sub_content main section header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
body #sub_content main section header ul li {
  margin-left: 30px;
  font-size: 18px;
}
body #sub_content main section #document_content {
  flex: 1;
  max-width: 100%;
  word-break: keep-all;
  padding: 30px;
  font-size: 18px;
}
body #sub_content main section #document_content h1 {
  font-size: 48px;
}
body #sub_content main section #document_content h2 {
  font-size: 44px;
}
body #sub_content main section #document_content h3 {
  font-size: 40px;
}
body #sub_content main section #document_content h4 {
  font-size: 36px;
}
body #sub_content main section #document_content h5 {
  font-size: 32px;
}
body #sub_content main section #document_content h6 {
  font-size: 28px;
}
body #sub_content main section #document_content pre {
  white-space: pre-wrap;
}
body #sub_content main section .comment {
  padding: 30px;
}
body #sub_content main section .comment textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  margin-bottom: 40px;
  transition: box-shadow 0.5s;
}
body #sub_content main section .comment textarea:focus {
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
}
body #sub_content main section .comment button {
  background-color: #1785cd;
  transition: background-color 0.3s;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
}
body #sub_content main section .comment button:hover {
  background-color: #379add;
}
body #main_footer {
  margin-top: 120px;
  padding: 120px 0;
  background-color: #eee;
}
body #main_footer header h1 {
  font-size: 46px;
}
body #main_footer .contact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #main_footer .contact_item i {
  font-size: 40px;
}
body #main_footer .description {
  margin-top: 70px;
}
body #main_footer .description h2 {
  margin-bottom: 40px;
}
body #scroll {
  position: fixed;
  right: -30px;
  top: 50%;
  margin-top: -250px;
  height: 500px;
  transition: right 0.3s;
}
body #scroll ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #scroll ul li a {
  color: #ccc;
  font-size: 30px;
  transition: color 0.3s;
}
body #scroll ul li a:hover {
  color: #000;
}
body #scroll ul li.active a {
  color: #000;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body .container {
    width: 100%;
  }
  body main article.thumbnail_section .container,
body main #profile .container {
    flex-direction: column;
  }
  body main article.thumbnail_section .description,
body main #profile .description {
    margin-top: 50px;
  }
  body main article.thumbnail_section .description {
    margin-top: 40px;
  }
  body main section {
    padding-left: 20px;
    padding-right: 20px;
  }
  body main section .section_content {
    margin-left: 20px;
  }
  body main section .section_content .img_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  body #main_footer .description {
    padding-left: 20px;
    padding-right: 20px;
  }
  body #sub_content {
    flex-direction: column;
    margin-top: 30px;
  }
  body #sub_content aside {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  body #sub_content aside ul {
    display: flex;
  }
  body #sub_content aside ul li {
    padding: 10px;
  }
}
@media (max-width: 420px) {
  body main #profile .container {
    flex-direction: column;
  }
  body main #profile .hashtag {
    display: flex;
    flex-direction: column;
    line-height: 80px;
  }
  body main #profile .hashtag * {
    font-size: 2em;
  }
  body main #profile .description {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  body main #profile .description div {
    word-break: keep-all;
  }
  body main #profile .description div:nth-child(even) {
    color: #777;
    font-size: 1.5em;
  }
  body main #profile .description div:nth-child(odd) {
    color: #333;
    text-align: left;
  }
  body main section {
    padding-left: 0px;
    padding-right: 0px;
  }
  body main section .section_content .img_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  body #sub_content aside {
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  body #sub_content aside ul {
    display: block;
  }
  body #sub_content aside ul li {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
