@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
body {
    margin:0;
    padding:0;
    .spoqa_han_sans {
        font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    }
    .container {margin:0 auto; width:1084px;}

    h1, h2, h3, h4,h5,h6, ul, li, ol {
        margin:0;
        padding:0;
    }

    #main_header {
        height:72px;
        padding:60px 0;
        .container {
            display:flex;
            flex-direction: row;
            height:100%;
            justify-content: space-between;
            align-items:center;
        }

        #logo {
            img {height:72px;}
        }

        nav {
            ul {
                list-style:none;
                display:flex;
                flex-direction: row;
                li {
                    font-size:40px;
                    margin-left:14px;
                    a {color:black;}
                }
            }

        }
    }

    main {
        #profile {
            .container {
                display:flex;
                flex-direction: row;
                align-items: center;
            }
            img {
                border-radius:180px;
                width:349px;
                height:349px;
            }
            .description {
                @extend .spoqa_han_sans;
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                * {
                    font-size:28px;
                    &:nth-child(1), &:nth-child(2){
                        font-size:46px;
                        font-weight: bold;
                    }

                    &:nth-child(odd) {
                        text-align:right;
                    }
                }

            }
            .hashtag {
                display:block;
                text-align:center;
                margin-top:70px;
                line-height:120px;
                *{
                    @extend .spoqa_han_sans;
                    margin-right:44px;
                    font-size:48px;
                    font-weight: bold;
                    display:inline-block;
                    &:before {
                        content: '#';
                    }
                }
            }
        }
        section{
            margin-top:120px;
            header{
                h1 {
                    @extend .spoqa_han_sans;
                    font-size:46px;
                }
            }
            .section_content {
                margin-left:92px;

                .img_grid {
                    margin-top:40px;
                    display:grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    img {
                        border-radius:5px;
                        transition:.5s;
                        position:relative;
                        top:0;
                        left:0;
                        &:hover {
                            position:relative;
                            top:-5%;
                            left:-5%;
                            width:110%;
                            box-shadow: 0 0 30px rgba(0,0,0,.5);
                        }
                        width:100%;
                    }

                }
            }
        }

        article {
            margin-top:70px;

            * {
                @extend .spoqa_han_sans;
            }
            h1 {
                font-weight: bold;
                font-size:28px;
                margin-bottom: 30px;
            }
            h2 {
                font-weight: normal;
                font-size:24px;
                margin-bottom:20px;
            }
            small {
                font-size:20px;
                color:#333;
            }

            // 썸네일 섹션
            &.thumbnail_section {
                display:flex;
                flex-direction: row;
                h1 {margin-bottom: 14px;}
                h2 {margin-bottom: 10px;}
                .img, img {
                    height:164px;
                    width:164px;
                    margin-right:20px;
                }

                .img {
                    background-repeat:no-repeat;
                    background-position: center center;
                    background-size:contain;
                }


                .description {
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }

    #main_footer {
        margin-top:120px;
        padding:120px 0;
        background-color:#eee;
        header h1 {
            @extend .spoqa_han_sans;
            font-size:46px;
        }


        .contact_item {
            * {
                @extend .spoqa_han_sans;
            }
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {font-size:40px;}
        }
    }

    #scroll {
        position:fixed;
        right:-30px;
        top:50%;
        margin-top:-250px;
        height:500px;
        transition: right .3s;
        ul {
            height:100%;
            list-style:none;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            li {
                a {
                    color:#ccc;
                    font-size:30px;
                    i {}
                    transition: color .3s;
                    &:hover {
                        color:#000;
                    }
                }
                &.active {
                    a {
                        color:#000;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    body {
        overflow-x: hidden;
        .container {width:100%;}
        main {
            article.thumbnail_section,
            #profile {
                .container {
                    flex-direction: column;
                }
                .description{
                    margin-top:50px;
                }
            }
            article.thumbnail_section{
                .description {
                    margin-top:40px;
                }
            }

            section {
                padding-left:20px;
                padding-right:20px;

                .section_content {
                    margin-left:20px;

                    .img_grid {
                        grid-template-columns: repeat(2, 1fr);

                    }
                }

            }
        }
    }
    body main article.thumbnail_section .description{}
}

@media (max-width: 420px){
    body {
        main {
            #profile {
                .container {
                    flex-direction: column;
                }
                .hashtag {
                    display:flex;
                    flex-direction: column;
                    line-height:80px;
                }
                .hashtag * {

                    font-size:2em;
                }
                .description{
                    margin-top:50px;
                    padding-left:20px;
                    padding-right: 20px;
                    grid-template-columns: repeat(1, 1fr);
                    div {
                        word-break:keep-all;
                        &:nth-child(even) {
                            color:#777;
                            font-size:1.5em;
                        }
                        &:nth-child(odd){
                            color:#333;
                            text-align:left;
                        }
                    }
                }
            }
            section {
                padding-left:0px;
                padding-right:0px;

                .section_content {
                    .img_grid {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }

            }
        }
    }
}

@media (max-width:400px){
}